.headerContainer{
    display: flex;
    text-align: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding-left: 100px;
    padding-right: 100px;
    height: 80px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, color 0.3s;
}

.titleHeader{
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: 700;
}

.darkMode{
    display: flex;
    gap: 8px;
    align-items: center;
}

.darkModeText{
    font-weight: 500;
} 
 
  .lightHeader {
    background-color: #fff;
    color: #333;
  }
  
  .darkHeader {
    background-color: #2b3945;
    color: #fff;
  }
  
  .titleHeader {
    font-weight: bold;
    font-size: 24px;
  }
  
  .darkMode {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .darkModeText {
    margin-left: 8px;
  }